/*
 * Empty Stylesheet file.
 */

@font-face {
    font-family: 'Roboto';
    src: url('/clientetimefastjavafx/recursos/Roboto-Bold.ttf');
}

.mainFxmlClass {
    -fx-background-color: #F2F2F0;
}

.barra-busqueda {
    -fx-background-color: #99BFF2;
    -fx-border-color: black;
    -fx-border-width: 2; 
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.txF-buscar{
    -fx-background-color: #99BFF2;
    -fx-prompt-text-fill: black;
}

.tabla-menu{
    -fx-background-color: #F2F2F0;
    -fx-border-color: black;
    -fx-border-width: 2; 
}

.tabla-menu .column-header {
    -fx-font-family: 'Microsoft Sans Serif'; 
    -fx-font-size: 16px; 
    -fx-font-weight: bold;
     -fx-text-fill: black;
    -fx-alignment: CENTER; 
}

.tabla-menu .cell {
    -fx-font-family: 'Microsoft Sans Serif'; 
    -fx-font-size: 14px; 
    -fx-text-fill: black; 
    -fx-alignment: CENTER_LEFT; 
    -fx-border-color: lightgray; 
    -fx-border-width: 0 0 1 0;
}

.botones-menu{
    -fx-background-color: #0C969C;
    -fx-border-color: black;
    -fx-border-width: 2; 
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}